#Welcome to our Lab practice!

This lab is all about the package, Pandas. Are you ready? Let's go!

You will find some small tasks in sections below. 

> Try to figure out by yourself, or search for references. Being able to search and find information needed is an important skill that benefits you and your career for a long time.

## Set up the environment

### Task: import pandas, and name it as pd

In [28]:
# your code is here
import pandas as pd

## Data Creation

### Task: Find the data [here](https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)) for the GDP (nomial). For the top **10** countries, create a dataframe that has the names of country, the GDP of the country in 2021 (reported in 2022) by IMF in dollars , the population of the country (you can find the data [here](https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population))

In [29]:
# your code is here
path_gdp = 'Data/GDP.csv'
path_pop = 'Data/Population.csv'

df_gdp = pd.read_csv(path_gdp)
df_pop = pd.read_csv(path_pop)

In [30]:
df_gdp.head()

,Country/Territory,UN Region,IMF Estimate (2022),World Bank Estimate (2021),United Nations Estimate (2020)
0,United States,Americas,25035164,22996100,20893746
1,China,Asia,18321197,17734063,14722801
2,Japan,Asia,4300621,4937422,5057759
3,Germany,Europe,4031149,4223116,3846414
4,India,Asia,3468566,3173398,2664749

In [31]:
df_pop.head()

,Country / Dependency,Population Numbers,Population % of the world,Date,Source (official or from the United Nations),Notes
0,China,1411750000,17.60%,31 Dec 2022,Official estimate,The population figure refers to mainland China...
1,India,1388163000,17.30%,01-mar-23,Official projection,The figure includes the population of the Indi...
2,United States,334520000,4.17%,20-mar-23,National population clock,The figure includes the 50 states and the Dist...
3,Indonesia,275773800,3.44%,01-jul-22,Official estimate,NaN
4,Pakistan,235825000,2.94%,01-jul-22,UN projection,The figure includes the population of Pakistan...

## Data Accessing

### Task: List the countries and their GDP

In [32]:
# your code is here
df_gdp[['Country/Territory','IMF Estimate (2022)']]

    Country/Territory  IMF Estimate (2022)
0       United States             25035164
1               China             18321197
2               Japan              4300621
3             Germany              4031149
4               India              3468566
..                ...                  ...
211             Palau                  226
212          Kiribati                  207
213             Nauru                  134
214        Montserrat                    0
215            Tuvalu                   64

[216 rows x 2 columns]

###Task: List the countries and their population

In [33]:
# your code is here
df_pop[['Country / Dependency','Population Numbers']]

                    Country / Dependency  Population Numbers
0                                  China          1411750000
1                                  India          1388163000
2                          United States           334520000
3                              Indonesia           275773800
4                               Pakistan           235825000
..                                   ...                 ...
236                Tokelau (New Zealand)                1647
237                                 Niue                1549
238                         Vatican City                 825
239  Cocos (Keeling) Islands (Australia)                 593
240    Pitcairn Islands (United Kingdom)                  47

[241 rows x 2 columns]

###Task: List the first country with its GDP and population

In [34]:
# your code is here

## Data Selection

### Task: Show the countries whose GDP is more than 5 trillion dollars 
> (Hint: the data source has US$ Million as a unit, hence you need to choose GDP > 5,000,000 unit)

In [35]:
# your code is here
df_gdp[df_gdp['IMF Estimate (2022)'] > 5000000]

,Country/Territory,UN Region,IMF Estimate (2022),World Bank Estimate (2021),United Nations Estimate (2020)
0,United States,Americas,25035164,22996100,20893746
1,China,Asia,18321197,17734063,14722801

### Task: Show the countries whose GDP is more than 3 trillion dollars

In [36]:
# your code is here
df_gdp[df_gdp['IMF Estimate (2022)'] > 3000000]

,Country/Territory,UN Region,IMF Estimate (2022),World Bank Estimate (2021),United Nations Estimate (2020)
0,United States,Americas,25035164,22996100,20893746
1,China,Asia,18321197,17734063,14722801
2,Japan,Asia,4300621,4937422,5057759
3,Germany,Europe,4031149,4223116,3846414
4,India,Asia,3468566,3173398,2664749
5,United Kingdom,Europe,3198470,3186860,2764198

### Task: Show the countries whose pupulation is more than 1 billion

In [37]:
# your code is here
df_pop[df_pop['Population Numbers'] > 1000000000]

,Country / Dependency,Population Numbers,Population % of the world,Date,Source (official or from the United Nations),Notes
0,China,1411750000,17.60%,31 Dec 2022,Official estimate,The population figure refers to mainland China...
1,India,1388163000,17.30%,01-mar-23,Official projection,The figure includes the population of the Indi...

###Task: Show the countries whose pupulation is less than 300 million

In [38]:
# your code is here
df_pop[df_pop['Population Numbers'] > 300000000]

,Country / Dependency,Population Numbers,Population % of the world,Date,Source (official or from the United Nations),Notes
0,China,1411750000,17.60%,31 Dec 2022,Official estimate,The population figure refers to mainland China...
1,India,1388163000,17.30%,01-mar-23,Official projection,The figure includes the population of the Indi...
2,United States,334520000,4.17%,20-mar-23,National population clock,The figure includes the 50 states and the Dist...

###Task: Show the countries whose pupulation is between 300 million and 500 million

In [39]:
# your code is here
df_pop[(df_pop['Population Numbers'] > 300000000) & (df_pop['Population Numbers'] < 500000000)]

,Country / Dependency,Population Numbers,Population % of the world,Date,Source (official or from the United Nations),Notes
2,United States,334520000,4.17%,20-mar-23,National population clock,The figure includes the 50 states and the Dist...

## Data Manipulation

###Task: Create a new column, called "GDP per capita", based on the column "GDP" and the column "Population"

In [ ]:
# your code is here

## Data Understanding

###Task: With the three numeric columns, show the statsitics of each:


1.   Count
1.   Max
1.   Min
1.   Mean
1.   Median
1.   Quantiles
1.   25% Quantile
1.   50% Quantile
1.   75% QUantile
1.   Variance
1.   Std
1.   Total

In [40]:
# your code is here
pop = df_pop['Population Numbers']

In [60]:
pop.count(), pop.max(), pop.min(), pop.mean(), pop.median(),  pop.quantile([0.25,0.5,0.75]), pop.var(), pop.std(), pop.sum()

(241,
 1411750000,
 47,
 32539923.253112033,
 5431344.0,
 0.25      301295.0
 0.50     5431344.0
 0.75    22125000.0
 Name: Population Numbers, dtype: float64,
 1.767073093174247e+16,
 132931301.54987,
 7842121504)