# Welcome to our Lab Practice!

This lab is all about defining functions with ONE parameter. Are you ready? Let's go!

You will find some small tasks in sections below. After defining functions, call them to test.

###Task: define a function that print "hello, *name*" where *name* is a parameter

In [6]:
# your code will be here
def helloName(name):
    print("Hola,",name)
    
helloName("Christian y Julio")

Hola, Christian y Julio

###Task: define a function that print "hello world" *n* times, where *n* is a parameter

In [8]:
# your code will be here
def nHello(n):
    for x in range(n):
        print('Hello')

nHello(18)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

###Task: define a function that print integers 1 to *n* (hint: you can use a for loop), where *n* is a parameter

In [10]:
# your code will be here
def nInteger(n):
    for x in range(1,n,1):
        print(x)

nInteger(23)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

###Task: define a function that print prime integers in *n* (hint: you can use loops), where *n* is a parameter

In [11]:
# your code will be here
def prime_100(n):
    for i in range(1, n+1):
        prime = True
        for j in range(2, i):
            if i % j == 0:
                prime = False
                break
        if prime:
            print(i)

prime_100(500)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499

###Task: define a function that print whether or not given *n* is even, *n* is a parameter

In [12]:
# your code will be here
def even(n):
    if n % 2 == 0:
        print('Even')
        
even(50)

Even

###Task: define a function that print whether or not given *n* is odd, *n* is a parameter

In [18]:
# your code will be here
def odd(n):
    if n % 2 != 0:
        print('Odd')
        
odd(51)

Odd

###Task: define a function that print the absolute value of *n*, *n* is a parameter

In [20]:
# your code will be here
def abs(n):
    if n < 0:
        print(-n)
    else:
        print(n)
        
abs(-50)
abs(25)

50
25

###Task: define a function that print the square value of *n*, *n* is a parameter

In [22]:
# your code will be here
def square(n):
    print(n**2)
    
square(25)
square(-2)

625
4

###Task: define a function that print whether or not given *n* is divisible by 6, *n* is a parameter

In [23]:
# your code will be here
def divisible6(n):
    if n % 6 == 0:
        print(n,'is divisible by 6')
        
divisible6(36)

36 is divisible by 6

###Task: define a function that print whether or not given *n* is prime, *n* is a parameter

In [32]:
# your code will be here
def prime(n):
    for i in range(2, n):
        if n % i == 0:
            print(False)
            break
    else: 
        print(True)

prime(53)

True