# Welcome to our third Lab Practice!

This lab is all about defining functions with return values. Are you ready? Let's get started!

You will find some small tasks in sections below. After defining functions, call them to test.

## Define functions with return numeric values.

###Task: define a function that return the absolute value of *n*, where *n* is a parameter

In [1]:
# your code will be here
def abs(x):
    if x < 0:
        return -x
    else:
        return x
    
abs(-9)

9

###Task: define a function that return the product value of *n* and *m*, where *n, m* are parameters

In [2]:
# your code will be here
def product(n,m):
    return n * m

product(5,10)

50

###Task: define a function that return the result of raise *n* to the power of *m*, where *n, m* are parameters

In [3]:
# your code will be here
def power(n,m):
    return n ** m

power(3,2)

9

###Task: define a function that return the average of three numbers, *x, y, z*, where *x, y, z* are parameters

In [4]:
# your code will be here
def average(x,y,z):
    return (x + y + z) / 3

average(1,2,3)

2.0

###Task: define a function that return the minimal of three numbers, *x, y, z*, where *x, y, z* are parameters

In [6]:
# your code will be here
def minimum(x,y,z):
    min = x
    if y < min:
        min = y
    if z < min:
        min = z
    return min

minimum(1,8,-6)

-6

###Task: define a function that print sum of integers 1 to *n* (hint: you can use a for loop), where *n* is a parameter

In [7]:
# your code will be here
def sumRange(n):
    sum = 0
    for x in range(1,n,1):
        sum = sum + x
    return sum

sumRange(50)

1225

## Define functions with return str values.

###Task: define a function that return "hello, *name*" where *name* is a parameter

In [8]:
# your code will be here
def helloName(name):
    return 'Hello, ' + name

helloName('Osvaldo')

'Hello, Osvaldo'

###Task: define a function that return "hello world" *n* times, where *n* is a parameter

In [11]:
# your code will be here
def hello_world_n(n):
    paste = ''
    for x in range(n):
        paste = "Hello, World\n" + paste
    return paste

print(hello_world_n(10),end='')

Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World

###Task: define a function that concatenate message 1 and message 2 together and return it

In [12]:
# your code will be here
def messages(message1,message2):
    return message1 + ' ' + message2

messages("Hello,","World")

'Hello, World'

## Define functions with return boolean values.

###Task: define a function that return the boolean value for given *n* is even or not, *n* is a parameter

In [13]:
# your code will be here
def is_even(n):
    if n % 2 == 0:
        return True
    else:
        return False

is_even(5)

False

###Task: define a function that return the boolean value for given *n* is odd or not, *n* is a parameter

In [14]:
# your code will be here
# your code will be here
def is_odd(n):
    if n % 2 != 0:
        return True
    else:
        return False

is_odd(5)

True

###Task: define a function that return the boolean value for given *n* is prime number or not, *n* is a parameter

In [41]:
# your code will be here
def is_prime(n):
    for x in range(2,n):
        if n % x == 0:
            return False
    else:
        return True

is_prime(9)

False

###Task: define a function that return the boolean value for given *n* is positive (>0) or not, *n* is a parameter

In [44]:
# your code will be here
def is_positive(n):
    if n < 0:
        return False
    else:
        return True

is_positive(-8)

False

###Task: define a function that return the boolean value for whether or not given *n* is divisible by 6, *n* is a parameter

In [45]:
# your code will be here
def divisible_by_6(n):
    if n % 6 == 0:
        return True
    else:
        return False

divisible_by_6(96)

True

## Define functions return multiple values.

###Task: define a function that return the min, max, avg, and total of given 3 numbers *x, y, z*, where *x, y, z* are parameters

In [48]:
# your code will be here
def min_max_avg(x,y,z):
    min = x
    max = x
    total = x + y + z
    if y < min:
        min = y
    if z < min:
        min = z
    if y > max:
        max = y
    if z > max:
        max = z
    avg = total / 3
    return min, max, avg, total

min, max, avg, total = min_max_avg(5,9,7)
print(min,max,avg,total)

5 9 7.0 21